# EyeOn Supermarket data science case study

In [ ]:
#pip install --user pyarrow

# Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (0.14.1)
# Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.18.5)
# Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.15.0)

### Importing packages

In [1]:
import pandas as pd
import sys

###Functions

In [2]:
def f_concat(l_input):

  # Initialize.
  dummy = ""
  n_len = len(l_input)

  # Loop through text elements.
  for i in range(n_len):
    dummy = dummy + l_input[i] + ", "

  # Append last element.
  dummy = dummy + "and " + l_input[n_len-1]

  # Return result.
  return dummy

In [3]:
def f_info(df_input, c_feature, n_top =  10):

  # Testing!
  #df_input  = df_historyPerYear
  #c_feature = "year"
  #n_top     = 3

  # Load package.
  from collections import Counter

  # Bereken frequenties.
  c = Counter(df_input[c_feature])

  # Converteer naar data frame.
  df_output         = pd.DataFrame(list(c.items()))

  # Hernoem kolomnamen.
  df_output.columns = ["level", "n"]

  # Bereken percentage.
  df_output["perc"] = round(100 * df_output["n"] / df_input.shape[0], 1).astype(str) + "%"

  # Sorteer data frame op frequentie.
  df_output         = df_output.sort_values(by = "perc", ascending = False)

  # Reset index en verwijder index kolom die daardoor ontstaat.
  df_output         = df_output.reset_index().drop(columns=['index'])

  # Print header
  print("Frequentietabel voor '" + c_feature + "':", str(df_output["level"].nunique()), "levels.\n")

  # Display tabel zonder index.
  # https://stackoverflow.com/questions/61363712/how-to-print-a-pandas-io-formats-style-styler-object
  #display(df_output.head(n_top).style.hide_index())

  print(df_output.head(n_top))

###Importing data
Importing the parquet files took a bit of fidling. I came across a few URLs, included for reference ([unable-to-read-a-parquet-file]("https://stackoverflow.com/questions/55147424/unable-to-read-a-parquet-file"),   [google-colab-dealing-with-files]("https://neptune.ai/blog/google-colab-dealing-with-files")). Though in the end, I simply connected my Google Drive to Colab and updated the path the to data.

In [5]:
%%time

df_historyPerYear     = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/history-per-year.parquet')

CPU times: user 24.4 s, sys: 3.48 s, total: 27.9 s
Wall time: 18 s

In [6]:
# A few basic statistics on df_historyPerYear.
print("The 'History per Year' data:\n")
print(f"-> contain {round(df_historyPerYear.shape[0]/1e6, 1)} million observations and {df_historyPerYear.shape[1]} features.\n")
print(f"-> have feature names: {f_concat(df_historyPerYear.columns)}.\n")
print(f"-> has size of {round(sys.getsizeof(df_historyPerYear)/1024/1024/1024, 1)} GB.")

The 'History per Year' data:

-> contain 125.5 million observations and 8 features.

-> have feature names: id, store_nbr, item_nbr, unit_sales, onpromotion, day, year, month, and month.

-> has size of 6.9 GB.

####Some Statistics:

In [7]:
df_historyPerYear.head(10)

   id  store_nbr  item_nbr  unit_sales onpromotion  day  year month
0   0         25    103665         7.0        None    1  2013     1
1   1         25    105574         1.0        None    1  2013     1
2   2         25    105575         2.0        None    1  2013     1
3   3         25    108079         1.0        None    1  2013     1
4   4         25    108701         1.0        None    1  2013     1
5   5         25    108786         3.0        None    1  2013     1
6   6         25    108797         1.0        None    1  2013     1
7   7         25    108952         1.0        None    1  2013     1
8   8         25    111397        13.0        None    1  2013     1
9   9         25    114790         3.0        None    1  2013     1

In [162]:
f_info(df_historyPerYear, "store_nbr")

Frequentietabel voor 'store_nbr': 54 levels.

   level        n  perc
0     47  3457407  2.8%
1     44  3513089  2.8%
2     45  3484244  2.8%
3      3  3401264  2.7%
4     46  3353890  2.7%
5     49  3342531  2.7%
6      8  3261184  2.6%
7     48  3236523  2.6%
8      6  3089799  2.5%
9     50  3192566  2.5%

In [163]:
f_info(df_historyPerYear, "onpromotion")

Frequentietabel voor 'onpromotion': 2 levels.

   level         n   perc
0  False  96028767  76.5%
1   True   7810622   6.2%
2   None  21657651  17.3%

In [164]:
f_info(df_historyPerYear, "year")

Frequentietabel voor 'year': 5 levels.

   level         n   perc
0   2016  35229871  28.1%
1   2015  27864644  22.2%
2   2017  23808261  19.0%
3   2014  22271602  17.7%
4   2013  16322662  13.0%

###Overige data tabellen

In [11]:
df_history_aggregated = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/history_aggregated.parquet')
df_holiday_events     = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/holidays_events.parquet')
df_items              = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/items.parquet')
df_oil                = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/oil.parquet')
df_stores             = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/stores.parquet')
df_transactions       = pd.read_parquet('drive/MyDrive/Colab Notebooks/2021 01 - Execute/EyeOn/Data/transactions.parquet')

In [12]:
df_history_aggregated.head(10)

   onpromotion  item_nbr    week  ...     family  class  perishable
0        False    764438  201323  ...  GROCERY I   1072           0
1        False    764438  201324  ...  GROCERY I   1072           0
2        False    764438  201325  ...  GROCERY I   1072           0
3        False    764438  201326  ...  GROCERY I   1072           0
4        False    764438  201327  ...  GROCERY I   1072           0
5        False    764438  201328  ...  GROCERY I   1072           0
6        False    764438  201329  ...  GROCERY I   1072           0
7        False    764438  201330  ...  GROCERY I   1072           0
8        False    764438  201331  ...  GROCERY I   1072           0
9        False    764438  201332  ...  GROCERY I   1072           0

[10 rows x 9 columns]

In [13]:
df_holiday_events.head(10)

         date     type  ...                    description transferred
0  2012-03-02  Holiday  ...             Fundacion de Manta       False
1  2012-04-01  Holiday  ...  Provincializacion de Cotopaxi       False
2  2012-04-12  Holiday  ...            Fundacion de Cuenca       False
3  2012-04-14  Holiday  ...      Cantonizacion de Libertad       False
4  2012-04-21  Holiday  ...      Cantonizacion de Riobamba       False
5  2012-05-12  Holiday  ...         Cantonizacion del Puyo       False
6  2012-06-23  Holiday  ...      Cantonizacion de Guaranda       False
7  2012-06-25  Holiday  ...  Provincializacion de Imbabura       False
8  2012-06-25  Holiday  ...     Cantonizacion de Latacunga       False
9  2012-06-25  Holiday  ...           Fundacion de Machala       False

[10 rows x 6 columns]

In [14]:
df_items.head(10)

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1
5    105574     GROCERY I   1045           0
6    105575     GROCERY I   1045           0
7    105576     GROCERY I   1045           0
8    105577     GROCERY I   1045           0
9    105693     GROCERY I   1034           0

In [15]:
df_oil.head(10)

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20
5  2013-01-08       93.21
6  2013-01-09       93.08
7  2013-01-10       93.81
8  2013-01-11       93.60
9  2013-01-14       94.27

In [16]:
df_stores.head(10)

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5          6          Quito                       Pichincha    D       13
6          7          Quito                       Pichincha    D        8
7          8          Quito                       Pichincha    D        8
8          9          Quito                       Pichincha    B        6
9         10          Quito                       Pichincha    C       15

In [17]:
df_transactions.head(10)

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
5  2013-01-02          5          1903
6  2013-01-02          6          2143
7  2013-01-02          7          1874
8  2013-01-02          8          3250
9  2013-01-02          9          2940

In [22]:
df_historyPerYear[df_historyPerYear.item_nbr == 764438].head(5)

        id  store_nbr  item_nbr  unit_sales onpromotion  day  year month
1201  1201          1    764438        12.0        None    2  2013     1
2265  2265          2    764438        23.0        None    2  2013     1
3424  3424          3    764438        61.0        None    2  2013     1
4544  4544          4    764438        23.0        None    2  2013     1
5582  5582          5    764438         8.0        None    2  2013     1

In [23]:
df_history_aggregated[df_history_aggregated.item_nbr == 764438].head(5)

   onpromotion  item_nbr    week  ...     family  class  perishable
0        False    764438  201323  ...  GROCERY I   1072           0
1        False    764438  201324  ...  GROCERY I   1072           0
2        False    764438  201325  ...  GROCERY I   1072           0
3        False    764438  201326  ...  GROCERY I   1072           0
4        False    764438  201327  ...  GROCERY I   1072           0

[5 rows x 9 columns]

In [24]:
df_items[df_items.item_nbr == 764438].head(3)

     item_nbr     family  class  perishable
941    764438  GROCERY I   1072           0